<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>69631424738-mrebr9riah95lm7sr96o2arv6bpj5mma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69631424738-mrebr9riah95lm7sr96o2arv6bpj5mma</string>
	<key>API_KEY</key>
	<string>AIzaSyAqLZhFUs9gNmyJqVoxd4AedZj1lcH0d6k</string>
	<key>GCM_SENDER_ID</key>
	<string>69631424738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.befitbingo</string>
	<key>PROJECT_ID</key>
	<string>befitbingo</string>
	<key>STORAGE_BUCKET</key>
	<string>befitbingo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69631424738:ios:148a41ee93f1289f</string>
	<key>DATABASE_URL</key>
	<string>https://befitbingo.firebaseio.com</string>
</dict>
</plist>